{% extends "base.html" %}

{% block content %}
{% if role < 3 %}
<div class="column is-8 is-offset-2">

    <div class="box">
        <h3 class="title">Edit {{ product.name }}</h3>

        <form method="POST" action="">
            <label class="label">Name</label>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Name" value="{{ product.name }}" required>
                </div>
            </div>
            <label class="label">Description</label>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="description" placeholder="Description" value="{{ product.description }}" required>
                </div>
            </div>
            <label class="label">Price</label>
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="price" placeholder="price" value="{{ product.price }}" required>
                </div>
            </div>
            <label class="label">Presence</label>
            <div class="field">
                <div class="control">
                    <input class="input" type="number" name="presence" placeholder="Presence" value="{{ product.presence }}" required>
                </div>
            </div>
            <label class="label">Current type: {{ product.type_name }}</label>
            <div class="field">
                <label class="label">Select Type</label>
                <div class="control">
                    <div class="select">
                        <select name="type" required>
                            {% for ptype in ptypes %}
                                <option value="{{ ptype.type_id }}">{{ ptype.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <button class="button is-info">Update</button>
            <a href="/warehouse/{{product.id}}/delete" class="button is-danger" style="margin-left: 100px;">DELETE</a>
        </form>
    </div>
</div>
{% else %}
<section class="section">
    <div class="notification is-danger">
        <h1 class="title">
            Тут вам быть нельзя!
        </h1>
        <h2 class="subtitle">
            Проверьте под каким аккаунтом вы зашли.
        </h2>
    </div>
</section>
{% endif %}
{% endblock %}