{% extends "base.html" %}

{% block content %}
{%if role >= 3 %}
<section class="section">
    <div class="notification is-danger">
        <h1 class="title">
            Тут вам быть нельзя!
        </h1>
        <h2 class="subtitle">
            Проверьте под каким аккаунтом вы зашли.
        </h2>
    </div>
</section>
{% else %}
<section class="section">
    <div class="notification is-primary">
        <h1 class="title">
            Warehouse control page.
        </h1>
        <h2 class="subtitle">
            Wellcome, {{ name }}.
        </h2>
        <h2 class="subtitle">
            Функционал будет добавлен позже.
        </h2>
    </div>
</section>
<section class="section">
    <div class="column is-6">
        <h3 class="title">Register new Product</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/warehouse" enctype="multipart/form-data">
                <label class="label">Complete fill this form!</label>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Product Name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="description" placeholder="Product Description" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" name="price" placeholder="Price" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" name="presence" placeholder="Presence" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Photo</label>
                    <div class="control">
                        <input class="input" type="file" name="file" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Select Type</label>
                    <div class="control">
                        <div class="select">
                            <select name="type" required>
                                {% for ptype in ptypes %}
                                    <option value="{{ ptype.type_id }}">{{ ptype.type_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-block is-info is-fullwidth">Register</button>
            </form>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title">List of registered products</h2>
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Photo URL</th>
                    <th>Price</th>
                    <th>Presence</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th>{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type_id }}</td>
                    <td><a href="{{ url_for('static', filename='/photos/'+product.photo_url) }}">test</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.presence }}</td>
                    <td>
                        <a href="/warehouse/{{ product.id }}" class="button is-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}
{% endblock%}